.navbar {
    @include wrap-big-fluid;
    @include flex(row, flex-start, center);

    position: fixed;
    z-index: 1000;

    top: 0;
    left: 0;

    background: transparent;

    width: 100vw;
    min-height: var(--navbar-height);

    transition: $global--transition;

    &.sticky {
        background-color: $color--body-background;

        box-shadow: $global--shadow;

        img {
            filter: brightness(0);
        }

        li{
            nav{
                a {
                    color: $color--body-foreground!important;
                }
            }
        }

        .navbar__navs {
            @include devices(xl){
                background-color: $color--body-background;
            }
        }

        .navbar__toggle {
            span {
                background-color: $color--body-foreground;
            }
        }
    }

    &__logo {
        max-width: 150px;
        width: 100%;

        img {
            width: 100%;

            filter: invert(1);

            transition: $global--transition;

            filter: brightness(1000%);
        }

        @include devices(xl) {
            max-width: 125px;
        }
    }

    &__navs {
        @include flex();

        margin-left: auto;

        list-style: none;

        li {
            margin: 0 10px;

            nav {
                >a:not(.navbar__buy) {
                    position: relative;

                    isolation: isolate;

                    padding: 10px 0;
                    margin: 0 10px;

                    font-size: 15px;
                    font-weight: $fontWeight--bold;

                    text-transform: uppercase;

                    color: $color--body-background;

                    transition: $global--transition;

                    &:hover {
                        color: $color--secondary;

                        &::before {
                            width: 100%;
                        }
                    }

                    &::before {
                        content: "";

                        position: absolute;

                        left: 50%;
                        bottom: 0;

                        transform: translateX(-50%);

                        display: block;

                        width: 0;
                        height: 2px;

                        background-color: $color--secondary;

                        transition: $global--transition;
                    }

                    @include devices(xl) {
                        max-width: min-content;

                        font-size: 18px;

                        color: $color--body-background;
                    }
                }

                @include devices(xl) {
                    @include flex(row, flex-end);
                }
            }
        }

        @include devices(xl) {
            @include flex(column);

            position: fixed;

            top: var(--navbar-height);
            right: 0;

            transform: translateX(100%);

            display: block;

            width: 100%;
            height: 100%;

            backdrop-filter: blur(30px);

            transition: $global--transition;

            &.active {
                transform: translateX(0);
            }
        }
    }

    &__buy {
        padding: 10px 20px;

        background-color: $color--primary;
        color: $color--body-foreground;

        border-radius: 100px;

        padding-right: 0;

        transition: $global--transition;

        &:hover {
            padding-right: 20px;

            i {
                opacity: 1;

                transform: translateX(0px);
            }
        }

        span {
            font-size: 15px;
            font-weight: $fontWeight--bold;
        }

        i {
            opacity: 0;

            transform: translateX(-10px);

            transition: $global--transition;

            @include devices(xl) {
                transform: translate(0);

                opacity: 1;

                font-size: 20px;
            }
        }

        @include devices(xl) {
            margin-top: 10px;

            padding-right: 20px;
        }
    }

    @include devices(xl) {
        @include flex(row, space-between, center);
    }

    &__toggle {
        display: none;

        position: relative;
        z-index: 10000;

        width: var(--navbar-toggler);
        height: var(--navbar-toggler);

        background: transparent;
        border: 0;

        span {
            display: block;

            width: 100%;
            height: calc(var(--navbar-toggler) / 20);

            margin: 5px 0;

            background-color: $color--body-background;

            transition: $global--transition;
        }

        &.active {
            span {
                &:nth-child(1) {
                    transform: translateY(calc(var(--navbar-toggler) / 6)) rotate(45deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: translateY(calc(var(--navbar-toggler) / 6 * -1)) rotate(-45deg);
                }
            }
        }

        @include devices(xl) {
            display: block;
        }
    }

    @include devices(xl){
        background-color: transparentize($color--body-foreground, .5);
    }
}